<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("pisci9.jpg") %>);">
  <div class="container">
    <h1>Partiu Piscina, venha <strong>se molhar</strong> aqui <strong> e divirta-se!!!</strong>!</h1>
    <p>Um novo estilo de diversão, para você, seus amigos e sua familia.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
