.container-dashboard {
  align-items: space-around;
  background: white;
  padding: 16px;
  margin: 80px;
}

.dash-title{
  font-size: 26px;
  color:#4052DE;
  font-weight: bold;
  margin-left: 250px
}

.dash-big-title{
  font-size: 26px;
  color:#4052DE;
  font-weight: bold;
  margin-left: 160px
}

.dash-medium-title{
  font-size: 26px;
  color:#4052DE;
  font-weight: bold;
  margin-left: 500px
}
