.container-dashboard {
  align-items: space-around;
  background: #A8F9FA;
  padding: 16px;
  margin: 80px;
}

.dash-title{
  font-size: 26px;
  color:#4052DE;
  font-weight: bold;
}

.card{
  background-color: rgb(246, 245, 245);
}
