.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline input[type="text"] {
  // width: 60%;
  margin-right: 10px;
}

.form-inline input[type="submit"] {
  width: 5%;
  margin-top: 15px;
}