<div class="container p-4"> %>
  <%= simple_form_for [@pool, @order] do |f| %>
          <%= f.input :startdate %>
          <%= f.input :enddate %>
          <%= f.submit "Create", class: "btn btn-primary p-3" %>
          <% end %>
</div>

