<div class="container">
    <br>
    <br>
    <div class="justify-content-center">
      <h1><p style="color: black;"> Thank you for your order. I hope to see you soon again! &hearts; </p></h1>
      <p> Total Price:
      <%= @price / 100 %></p>
  </div>
</div>
