<div class="container">
    <br>
    <br>
    <div class="justify-content-center">
      <h1><p style="color: black;"> Obrigado pela sua reserva. Nós vemos em breve! &hearts; </p></h1>
      <p> Preço total:
      <%= @price / 100 %></p>
  </div>
</div>
