<h1>PARTIU PISCINA</h1>
<%= link_to 'CADASTRAR NOVO USUARIO', new_user_registration_path %>
<%= link_to 'LOGAR', new_user_session_path %>
<%= button_to 'SAIR', destroy_user_session_path, method: :delete %>

<%= link_to 'POOLS', pools_path %>
