.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: rgb(251, 251, 252);
    text-shadow: 1px 2px 5px rgba(0,0,0,0.9);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: #fbfbf9;
    opacity: .7;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.9);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: aqua;
  }
  